<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Number of Confirmed Coronavirus Cases in Norway</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h4>&nbsp;&nbsp;Confirmed number of coronavirus cases based on area in Norway, zoom in/out or click numbers for more info.</h4>
    <h4>&nbsp;&nbsp;Total confirmed cases: <span id='total_number' style="color: red;"></span>, updated at: <span style="color: blue;">2020-Mar-03 11:30:00</span>, scroll down below map for area numbers.</h4>
    <div id="map"></div>
    <div>
    <h4>&nbsp;&nbsp;PLEASE NOTE: This website utilized public data from norwegian media eg. FHI, NRK, VG, therefore location for each case can only be traced down to kommune level, eg. Bærum, Bergen. Text on ballon 🎈 is arbitrary case label, CANNOT represent the exact location of case. Number on cirlce 🔵 is the total number of confirmed cases in particular area. </h4>
    <h4>&nbsp;&nbsp;Numbers based on area:</h4>
    <ul id='area_number'></ul>
    <h4>&nbsp;&nbsp;Sources links for this website's data:</h4>
    <ul>
    <li><a href="https://www.vg.no/nyheter/innenriks/i/9vdv4w/to-bekreftet-smittet-i-drammen">to-bekreftet-smittet-i-drammen</a></li>
    <li><a href="https://www.vg.no/nyheter/innenriks/i/RRpR8A/ytterligere-en-ansatt-smittet-paa-ullevaal">ytterligere-en-ansatt-smittet-paa-ullevaal</a></li>
    <li><a href="https://www.nrk.no/vestland/alt-du-treng-a-vite-om-koronaviruset-i-vestland-1.14925249">alt-du-treng-a-vite-om-koronaviruset-i-vestland</a></li>
    <li><a href="https://fhi.no/nyheter/2020/oppdaterte-tall-pa-antall-smittede-med-koronavirus-i-norge3/">oppdaterte-tall-pa-antall-smittede-med-koronavirus-i-norge3</a></li>
    <li><a href="https://www.vg.no/nyheter/innenriks/i/dO83lB/helsedirektoratet-det-kan-bli-mer-omfattende">helsedirektoratet-det-kan-bli-mer-omfattende</a></li>
    <li><a href="https://www.vg.no/nyheter/innenriks/i/K375oe/nye-tall-totalt-19-corona-smittede-i-norge">nye-tall-totalt-19-corona-smittede-i-norge</a></li>
    </ul>
    <h4>&nbsp;&nbsp;History data archives:</h4>
    <ul>
    <li><a href="/history?dt=202003022230">history-data-2020-0302-2230</a></li>
    <li><a href="/history?dt=202003021630">history-data-2020-0302-1630</a></li>
    </ul>
    <h4>&nbsp;&nbsp;Developer and contact: luyuqing0708@gmail.com</h4>
    </div>
    <p id="labels" style="display: none;">{{ labels }}</p>
    <br></br>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 62.3507604, lng: 6.7845958}
        });

        const data = [
          {label: 'case-1-Tromsø', area: 'Tromsø', lat: 69.6651926, lng: 18.7776704},
          {label: 'case-2-Oslo', area: 'Oslo', lat: 59.9137808, lng: 10.6450355},
          {label: 'case-3-Oslo', area: 'Oslo', lat: 59.9138008, lng: 10.6450555},
          {label: 'case-4-Oslo', area: 'Oslo', lat: 59.9138208, lng: 10.6450755},
          {label: 'case-5-Bærum', area: 'Bærum', lat: 59.9289092, lng: 10.362972},
          {label: 'case-6-Bergen', area: 'Bergen', lat: 60.3648911, lng: 5.148998},
          {label: 'case-7-Bergen', area: 'Bergen', lat: 60.3649111, lng: 5.149198},
          {label: 'case-8-Bergen', area: 'Bergen', lat: 60.3649311, lng: 5.149398},
          {label: 'case-9-Bergen', area: 'Bergen', lat: 60.3649511, lng: 5.149598},
          {label: 'case-10-Bergen', area: 'Bergen', lat: 60.3649711, lng: 5.149798},
          {label: 'case-11-Bergen', area: 'Bergen', lat: 60.3649911, lng: 5.149998},
          {label: 'case-12-Oslo', area: 'Oslo', lat: 59.9138408, lng: 10.6450955},
          {label: 'case-13-Oslo', area: 'Oslo', lat: 59.9138608, lng: 10.6451155},
          {label: 'case-14-Oslo', area: 'Oslo', lat: 59.9138808, lng: 10.6451355},
          {label: 'case-15-Oslo', area: 'Oslo', lat: 59.9139008, lng: 10.6451555},
          {label: 'case-16-Nes', area: 'Nes', lat:59.9405272, lng: 10.7061135},
          {label: 'case-17-Enebakk', area: 'Enebakk', lat: 59.7691533, lng: 10.9477309},
          {label: 'case-18-Enebakk', area: 'Enebakk', lat: 59.7691733, lng: 10.9477509},
          {label: 'case-19-Enebakk', area: 'Enebakk', lat: 59.7691933, lng: 10.9477709},
          {label: 'case-20-Stavanger', area: 'Stavanger', lat: 58.9498173, lng: 5.658187},
          {label: 'case-21-Agder', area: 'Agder', lat: 58.1580637, lng: 7.9730598},
          {label: 'case-21-Agder', area: 'Agder', lat: 58.1580837, lng: 7.9730798},
          {label: 'case-23-Bergen', area: 'Bergen', lat: 60.3650111, lng: 5.150198},
          {label: 'case-24-Øygarden', area: 'Øygarden', lat: 60.329089, lng: 5.0528155},
          {label: 'case-25-Øygarden', area: 'Øygarden', lat: 60.329279, lng: 5.0528355},
          {label: 'case-26-Oslo', area: 'Oslo', lat: 59.9139008, lng: 10.6450555},
          {label: 'case-27-Drammen', area: 'Drammen', lat: 59.7297215, lng: 10.1992825},
          {label: 'case-28-Drammen', area: 'Drammen', lat: 59.7297415, lng: 10.1993025},
        ]

        document.getElementById('total_number').textContent = data.length;

        const labels = data.map(x => x.label);
        const locations = data.map(function(x){return {lat: x.lat, lng: x.lng}});

        var defaultDict = new Proxy({}, {
          get: (target, name) => name in target ? target[name] : 0
        })

        for (i=0; i<data.length; i++) {
          defaultDict[data[i].area] += 1
        }

        for (var prop in defaultDict) {
          var line = prop + ': ' +  defaultDict[prop];
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(line));
          document.getElementById("area_number").appendChild(li);
        }

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

    </script>
    <!-- Replace following script src -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU8AOyOFfPBH5aZnphqXhg6aeD6dix0nk&callback=initMap">
    </script>
  </body>
</html>