<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Number of Confirmed Coronavirus Cases in Norway</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h4>&nbsp;&nbsp;Confirmed number of coronavirus cases based on area in Norway, zoom in/out or click numbers for more info.</h4>
    <h4>&nbsp;&nbsp;Total confirmed cases: <span style="color: red;">19</span>, updated at: <span style="color: blue;">2020-Mar-01 20:40:00</span></h4>
    <div id="map"></div>
    <div>
    <h4>&nbsp;&nbsp;PLEASE NOTE: This website utilized public data from norwegian news media eg. NRK, VG, therefore location for each case can only be traced down to kommune level, eg. Bærum, Bergen. Text on ballon 🎈 is arbitrary case label, CANNOT represent the exact location of case. Number on cirlce 🔵 is the total number of confirmed cases in particular area. </h4>
    <h4>&nbsp;&nbsp;Developer and contact: luyuqing0708@gmail.com</h4>
    <h4>&nbsp;&nbsp;Sources for this website's data:</h4>
    <ul>
    <li><a href="https://www.vg.no/nyheter/innenriks/i/K375oe/nye-tall-totalt-19-corona-smittede-i-norge">nye-tall-totalt-19-corona-smittede-i-norge</a></li>
    </ul>
    </div>
    <br></br>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 62.3507604, lng: 6.7845958}
        });

        // Create an array of alphabetical characters used to label the markers.
        var labels = ['case-0-Tromsø','case-1-Oslo', 'case-2-Oslo', 'case-3-Oslo',
        'case-4-Bærum', 'case-5-Bergen', 'case-6-Bergen', 'case-7-Bergen', 'case-8-Bergen',
        'case-9-Bergen', 'case-10-Bergen','case-11-Bergen', 'case-12-Ullevål', 'case-13-Ullevål',
        'case-14-Ullevål', 'case-15-Ullevål', 'case-16-Ullevål', 'case-17-Enebakk ', 'case-18-Enebakk ',
        'case-19-Enebakk'];

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
      var locations = [
        {lat: 69.6651926, lng: 18.7776704}, // Tromsø 1
        {lat: 59.9137808, lng: 10.6450355}, // Oslo 3
        {lat: 59.9138008, lng: 10.6450555},
        {lat: 59.9138208, lng: 10.6450755},
        {lat: 59.9289092, lng: 10.362972}, // Bærum 1
        {lat: 60.3648911, lng: 5.148998}, // Bergen 6
        {lat: 60.3649111, lng: 5.149198},
        {lat: 60.3649311, lng: 5.149398},
        {lat: 60.3649511, lng: 5.149598},
        {lat: 60.3649711, lng: 5.149798},
        {lat: 60.3649911, lng: 5.149998},
        {lat: 59.9429743, lng: 10.7147129}, // Ullevål 5
        {lat: 59.9429943, lng: 10.7147329},
        {lat: 59.9430143, lng: 10.7147529},
        {lat: 59.9430343, lng: 10.7147729},
        {lat: 59.9430543, lng: 10.7147929},
        {lat: 59.7691533, lng: 10.9477309}, // Enebakk 3
        {lat: 59.7691733, lng: 10.9477509},
        {lat: 59.7691933, lng: 10.9477709}
      ]
    </script>
    <!-- Replace following script src -->
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU8AOyOFfPBH5aZnphqXhg6aeD6dix0nk&callback=initMap">
    </script>
  </body>
</html>